<ion-view view-title="Events to Attend">
  <ion-content>
    <ion-list>
		<div class="list card" ng-repeat="event in events">
		  <div class="item">
		  	<div class="row">
			  <div class="col col-100">
			  	<h2>{{event.name}}</h2>
		    	<p ng-click="showConfirm('{{event.map}}')" style="white-space: normal;">{{event.address}}</p>
			  </div>
			</div>
		  </div>

		  <div class="item item-body">
		    <img class="full-image" src="{{event.image}}">
		  </div>

		  <div class="item">
		    <p style="white-space : normal;">
		    	{{event.details}}
	    	</p>
		  </div>
		  <div class="item">
		  	<button class="button button-dark button-block" ng-click="addEvent('{{event.name}}', '{{event.address}}','{{event.time}}', '{{event._id}}')" id="{{event._id}}"> Add to Calendar</button>
		  </div>
		</div>
    </ion-list>
  </ion-content>
</ion-view>
