<style>
 ion-item[isFlight='flight'], ion-item[isFlight='taxi'] {   
        background-color: #BCE954;
    }
</style>


<ion-view view-title="Itinerary">
  <ion-content>
	<ion-list>
      <ion-item item-icon-left isFlight="{{todo.type}}" ng-repeat="todo in trip.itinerary" >
        <div class = "row row-center">
			<div class = "col-10 center">
				<span class = "h2" ng-switch="todo.type">
				  <i ng-switch-when="taxi" class = "icon ion-model-s"></i>
				  <i ng-switch-when="meal" class = "icon ion-wineglass"></i>
				  <i ng-switch-when="flight" class = "icon ion-plane"></i>
				  <i ng-switch-when="hotel" class = "icon ion-ios-home"></i>
				  <i ng-switch-default class = "icon ion-clipboard"></i>
				</span>
			</div>
			<div class = "col-33 center">
				<h1 class = "h2">{{todo.time.start}}</h1>
			</div>
			<div class = "col-50">
				<div class = "h4"> 
					{{todo.title}}
				</div>
				<div class = "h5">
					{{todo.details}}
				</div>	

			</div>
		</div>
	  </ion-item>
    </ion-list>
  </ion-content>
</ion-view>