<ion-view view-title="{{trip.title}}">
  <ion-content>
	<ion-list>
      <ion-item item-icon-left ng-repeat="todo in trip.itinerary" >
        <div class = "row row-center">
			<div class = "col-20 center">
				<span class = "h1" ng-switch="todo.type">
				  <i ng-switch-when="taxi" class = "icon ion-model-s"></i>
				  <i ng-switch-when="meal" class = "icon ion-wineglass"></i>
				  <i ng-switch-when="flight" class = "icon ion-plane"></i>
				  <i ng-switch-when="hotel" class = "icon ion-ios-home"></i>
				  <i ng-switch-default class = "icon ion-clipboard"></i>
				</span>
			</div>
			<div class = "col-30 center">
				<h1 class = "h1">{{todo.time.start}}</h1>
			</div>
			<div class = "col-50 center">
				<div class = "h3"> 
					{{todo.title}}
				</div>
				<div class = "h4">
					{{todo.details}}
				</div>				
			</div>
		</div>
	  </ion-item>
    </ion-list>
  </ion-content>
</ion-view>