<ion-view view-title="Profile">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Photo</span>
        <img src="{{user[0].image}}" id="image" style="width: 120px; height: 120px;">
      </label>
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text"  value="{{user[0].username}}" id="username">
      </label>
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" value="{{user[0].name}}" id="name">
      </label>
      <label class="item item-input">
        <span class="input-label">Bio</span>
        <textarea rows="4" type="text" id="bio" style="font-family: 'Source Sans Pro', sans-serif;">{{user[0].bio}}</textarea>
      </label>
      <label class="item" style="border-bottom: 1px solid white;">
        <button class="button button-stable button-block" style="margin-top: 0px;">
          Update Profile
        </button>

      </label>
    </div>
  </ion-content>
</ion-view>
 