<ion-view view-title="{{trip.location}}">
  <ion-content>
      <ion-list>
	    <img ng-src="{{tripimg}}" style = "width: 100%;height: auto;">
        <ion-item menu-close href="#/app/itinerary/{{trip._id}}">
          <i class="icon ion-map"></i> Itinerary
        </ion-item>
        <ion-item menu-close href="#/app/checklist/{{trip.country}}">
         <i class="icon ion-clipboard"></i> Checklist
        </ion-item>
        <ion-item menu-close href="#/app/contacts/{{trip.country}}">
          <i class="icon ion-android-call"></i>Emergency Contacts
        </ion-item>
        <ion-item menu-close href="#/app/predeparture/{{trip.country}}">
          <i class="icon ion-clipboard"></i> Financial Planning
        </ion-item>
        <ion-item menu-close href="#/app/events/{{trip.country}}">
          <i class="icon ion-calendar"></i> Upcoming Events
        </ion-item>
		<ion-item menu-close href="#/app/eats/{{trip.country}}">
          <i class="icon ion-ios-wineglass"></i> Local Delights
        </ion-item>
		<ion-item menu-close href="#/app/places/{{trip.country}}">
          <i class="icon ion-ios-location"></i> Places to Visit
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>
