<ion-view view-title="{{trip.location}}">
  <ion-content>
   
<div class="list card">
  

  <div class="item item-image">
    <img src="{{tripimg}}">
  </div>
  <a class="item" href="#/app/tripdetails/{{trip._id}}">
    <h2 style="font-family: 'Source Sans Pro', sans-serif">{{trip.title}}</h2>

    <span class="item-note">
      <em>{{trip.date.start}}-{{trip.date.end}}</em>
    </span>
  </a>


  <a class="item dark" href="#/app/attendees/{{trip._id}}">
    <i class="icon ion-android-contact"></i> <i class="icon ion-android-contact"></i> <i class="icon ion-android-contact"></i> <i class="icon ion-android-contact"></i> and you
    are going
  </a>
</div>
<div class="item item-divider">
    Prepare Myself
  </div>
<div="list">
	<!--  <img ng-src="{{tripimg}}" style = "width: 100%;height: auto;"> -->
     <a class="item item-icon-left item-icon-right" href="#/app/itinerary/{{trip._id}}">
          <i class="icon ion-map"></i> Itinerary
          <i class="icon ion-ios-arrow-forward"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/app/predeparture/{{trip.country}}">
          <i class="icon ion-clipboard"></i> Checklist
          <i class="icon ion-ios-arrow-forward"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/app/contacts/{{trip.country}}">
          <i class="icon ion-android-call"></i> Emergency Contacts
          <i class="icon ion-ios-arrow-forward"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/app/predeparture/{{trip.country}}">
          <i class="icon ion-cash"></i> Financial Planning
          <i class="icon ion-ios-arrow-forward"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/app/events/{{trip.country}}">
          <i class="icon ion-calendar"></i> Upcoming Events
          <i class="icon ion-ios-arrow-forward"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/app/localdelights/{{trip.country}}">
          <i class="icon ion-ios-wineglass"></i> Local Delights
          <i class="icon ion-ios-arrow-forward"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/app/places/{{trip.country}}">
          <i class="icon ion-ios-location"></i>  Places to Visit
          <i class="icon ion-ios-arrow-forward"></i>
      </a>
    </div>

  </ion-content>
</ion-view>


      