<ion-view view-title="{{trip.location}}">
  <ion-content>
   
<div class="list card">
  

  <div class="item item-image">
    <img src="{{tripimg}}">
  </div>
  <a class="item" style="background-color: #34AADC;" href="#/app/tripdetails/{{trip._id}}">
    <h2 style="color: white;">{{trip.title}}</h2>

    <span class="item-note">
      <em style="color: white;">{{trip.date.start}}-{{trip.date.end}}</em>
    </span>
  </a>


  <a class="item dark" href="#/app/attendees/{{trip._id}}">
    <i class="icon ion-android-contact"></i> <i class="icon ion-android-contact"></i> <i class="icon ion-android-contact"></i> <i class="icon ion-android-contact"></i> and you
    are going
  </a>
</div>
<!-- <div class="item item-divider">
    Prepare Myself
  </div> -->
	<div class = "row">
	  <div class = "center col col-33">	
		 <a style="text-decoration: none;" href="#/app/itinerary/{{trip._id}}">
			  <h1><i class="icon ion-map royal"></i></h1>
			  <div class = "h6"> Itinerary</div>
		  </a>
	  </div>
	   <div class = "center col col-33">	
		  <a style="text-decoration: none;" href="#/app/predeparture/{{trip.country}}">
			  <h1><i class="icon ion-clipboard assertive"></i></h1>
			  <div class = "h6"> Checklist</div>
		  </a>
	  </div>
	  <div class ="center col col-33">	
      <a style="text-decoration: none;" href="#/app/contacts/{{trip.country}}">
         <h1> <i class="icon ion-android-call calm"></i></h1>
		 <div class = "h6">  Emergency Contacts</div>
      </a>
	  </div>
	</div>
	<div class = "row">
	   <div class = "center col col-33">	
      <a style="text-decoration: none;" href="#/app/finance/{{trip.country}}">
          <h1><i class="icon ion-cash balanced"></i></h1>
		  <div class = "h6">  Financial Planning</div>
      </a>
	  </div>
	   <div class = "center col col-33">	
		  <a style="text-decoration: none;" href="#/app/events/{{trip.country}}">
			 <h1> <i class="icon ion-calendar energized"></i></h1>
			 <div class = "h6"> Upcoming Events</div>
		  </a>
	  </div>
	   <div class = "center col col-33">	
		  <a style="text-decoration: none;" href="#/app/localdelights/{{trip.country}}">
			  <h1><i class="icon ion-ios-wineglass dark"></i></h1>
			  <div class = "h6"> Local Delights</div>
		  </a>
	  </div>
	</div>
	<div class = "row">
	   <div class = "center col col-33">	
		  <a style="text-decoration: none;" href="#/app/places/{{trip.country}}">
			  <h1><i class="icon ion-ios-location positive"></i></h1>
			  <div class = "h6"> Places to Visit </div>
		  </a>
	  </div>
	</div>
    </div>

  </ion-content>
</ion-view>


      